{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "arrowParens": "always",
  "bracketSameLine": true,
  "endOfLine": "auto",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
